<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-5 r1c1">
            <div class="about-group">
                <h5 class="h5">ABOUT</h5>
                <p class="p">Buying property in India can be confusing and difficult. Taurus realtors makes
                    it simple and easy to find your dream home, whether you're new in town or just looking
                    for a change. Let us help you find the right home for you. We take care of everything,
                    from tips on how to buy property for your first time, helping you keep track of what
                    you've already seen, to scheduling viewings that don't conflict with any other
                    appointments already on your schedule. When it comes to buying property in India, we
                    understand what you want and need.
                </p>
            </div>
            <!-- <div class="about-group">
                <h5 class="h5">SOCIAL MEDIA</h5>
               
            </div> -->
        </div>
        <div class="col-lg-5 r1c3">
            <div class="contact-group">
                <h5 class="h5">CONTACT</h5>
                <p class="p">{{companyData.company_address}}</p>
                <p class="p">+91 {{companyData.company_mobile_1}}</p>
                <p class="p">+91 {{companyData.company_mobile_2}}</p>
                <p class="p">{{companyData.company_email}}</p>
            </div>
            <h5 class="h5">SOCIAL MEDIA</h5>
            <div class="social-media-group">
                <a class="mat-icon-button" target="_blank" href="https://www.facebook.com/people/Taurus-Realtors/100090396576745/"
                    mat-icon-button>
                    <i class="bi-facebook bi-icon"></i>
                </a>
                <a class="mat-icon-button" target="_blank" href="https://www.youtube.com/@PuneNewLaunch"
                    mat-icon-button>
                    <i class="bi-youtube bi-icon"></i>
                </a>
                <a class="mat-icon-button" target="_blank" href="https://www.linkedin.com/company/taurusreality"
                    mat-icon-button>
                    <i class="bi-linkedin bi-icon"></i>
                </a>
                <a class="mat-icon-button" target="_blank" href="https://www.instagram.com/taurus_realtors/"
                    mat-icon-button>
                    <i class="bi-instagram bi-icon"></i>
                </a>
            </div>
        </div>
    </div>
    <mat-divider class="mat-divider"></mat-divider>
    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <h6 class="h6">&copy; 2023 taurus. All rights reserved.</h6>
        </div>
    </div>
</div>