<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-8 r1c1">
            <h1 class="h1">HOME LOAN CONSULTATION</h1>
        </div>
    </div>

    <mat-divider class="mat-divider"></mat-divider>

    <div class="row r2">
        <div class="col-lg-5 r2c1">
            <img src="../../../../assets/images/services/home-loan-consultation/download-11.jpg"
                alt="HOME LOAN CONSULTATION" class="img">
        </div>
        <div class="col-lg-5 r2c1">
            <h6 class="h6">Home buying is hard. Let our experts guide you along the way. Need to find a REALTOR who will
                help you through the home buying process? We're here for you.</h6>
            <button class="mat-raised-button" routerLink="/contact" mat-raised-button>
                <h4 class="h4">Contact Now</h4>
            </button>
        </div>
    </div>
</div>