<div class="container-fluid home">

    <div class="row r1">
        <div class="col-lg-8 r1c1">
            <h1 class="h1">Contact Taurus Realtors</h1>
        </div>
    </div>

    <div class="row r2">
        <div class="col-lg-4 r2c1">
            <h4 class="h4">Have Questions or Need Assistance?</h4>
            <p class="p">If you have any questions or need assistance related to buying property in India, feel free to
                get in touch with us. We're here to help you every step of the way.</p>
            <h4 class="h4">Contact Information</h4>
            <p class="p">{{companyData.company_address}}</p>
            <p class="p">+91 {{companyData.company_mobile_1}}</p>
            <p class="p">+91 {{companyData.company_mobile_2}}</p>
            <p class="p">{{companyData.company_email}}</p>
        </div>
        <div class="col-lg-4 r2c2">
            <app-contact-form></app-contact-form>
        </div>
    </div>

    <div class="row r4">
        <div class="col-lg-8 r4c1">
            <h4 class="h4">Our Services</h4>
            <p class="p">At Taurus Realtors, we offer a wide range of services to simplify your property buying
                experience. Whether you're a first-time buyer or looking for a change, we've got you covered.</p>
        </div>
    </div>

    <div class="row r3">
        <div class="col-lg-8 r3c1">
            <h4 class="h4">Services We Provide</h4>
            <div class="row r3c1r1">
                <div class="col-lg-4 r3c1r1c1">
                    <h6 class="h6">Property Search Assistance</h6>
                    <p class="p">We help you find your dream home in India, tailored to your preferences and needs.</p>
                </div>
                <div class="col-lg-4 r3c1r1c1">
                    <h6 class="h6">First-Time Buyer Guidance</h6>
                    <p class="p">Are you a first-time property buyer? We provide expert tips and guidance to make your
                        first purchase a smooth experience.</p>
                </div>
                <div class="col-lg-4 r3c1r1c1">
                    <h6 class="h6">Viewing Scheduling</h6>
                    <p class="p">We understand your busy schedule. Let us handle the scheduling of property viewings,
                        ensuring they don't conflict with your other commitments.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row r4">
        <div class="col-lg-8 r4c1">
            <h4 class="h4">Get in Touch</h4>
            <p class="p">Don't hesitate to reach out to us with your inquiries or to schedule an appointment. We're
                dedicated to assisting you in finding the right property in India.</p>
        </div>
    </div>

    <div class="row r4">
        <div class="col-lg-8 r4c1">
            <h4 class="h4">Visit Us</h4>
            <p class="p">If you prefer face-to-face interactions, you're welcome to visit our office during our business
                hours. Our team is ready to assist you.</p>
        </div>
    </div>

</div>