<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-8 r1c1">
            <h1 class="h1">REAL ESTATE</h1>
        </div>
    </div>

    <mat-divider class="mat-divider"></mat-divider>

    <div class="row r2">
        <div class="col-lg-5 r2c1">
            <img src="../../../../assets/images/services/real-estate/about-banner.png" alt="REAL ESTATE" class="img">
        </div>
        <div class="col-lg-5 r2c1">
            <h6 class="h6">Taurus realtors is the best choice for finding the right properties in India. Our real estate
                service offers you a complete solution from home search and buying to managing your property after
                purchase.</h6>
            <button class="mat-raised-button" routerLink="/contact" mat-raised-button>
                <h4 class="h4">Contact Now</h4>
            </button>
        </div>
    </div>
</div>