<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-8 r1c1">
            <h1 class="h1">About Taurus Realtors</h1>
        </div>
    </div>
    <div class="row r2">
        <div class="col-lg-8 r2c1">
            <div class="row r2c1r1">
                <div class="col-lg-6 r2c1r1c1">
                    <img src="../../../assets/images/about/about2.jpg" alt="Image" class="img">
                </div>
                <div class="col-lg-6 r2c1r1c2">
                    <h4 class="h4">Who We Are</h4>
                    <p class="p">Welcome to Taurus Realtors, your trusted partner in simplifying the property buying
                        experience
                        in India. We understand that buying property can be a complex and overwhelming process, and our
                        mission
                        is to make it simple and accessible to everyone.</p>
                </div>
            </div>
            <div class="row r2c1r2">
                <div class="col-lg-6 r2c1r2c1">
                    <h4 class="h4">Our Mission</h4>
                    <p class="p">At Taurus Realtors, our mission is clear: to help you find your dream home in India,
                        whether
                        you're a newcomer to the area or simply seeking a change. We are dedicated to providing you with
                        a
                        seamless and stress-free property buying journey.</p>
                </div>
                <div class="col-lg-6 r2c1r1c1">
                    <img src="../../../assets/images/about/about3.jpg" alt="Image" class="img">
                </div>
            </div>
        </div>
        <div class="row r3">
            <div class="col-lg-8 r3c1">
                <h4 class="h4">What We Offer</h4>
                <div class="row r3c1r1">
                    <div class="col-lg-4 r3c1r1c1">
                        <h6 class="h6">Simplified Property Search</h6>
                        <p class="p">We know that navigating the Indian real estate market can be confusing. That's why
                            we've
                            designed our platform to make it easy for you to discover your perfect home. We offer a
                            user-friendly
                            search experience that connects you with properties that match your preferences.</p>
                    </div>
                    <div class="col-lg-4 r3c1r1c1">
                        <h6 class="h6">First-Time Buyers' Guide</h6>
                        <p class="p">If you're a first-time property buyer, you're in the right place. Taurus Realtors
                            provides
                            valuable tips and guidance tailored to newcomers in the real estate market. We'll walk you
                            through the
                            process, helping you make informed decisions.</p>
                    </div>
                    <div class="col-lg-4 r3c1r1c1">
                        <h6 class="h6">Organized Viewing Schedule</h6>
                        <p class="p">Efficiency is key when searching for your ideal property. We assist you in keeping
                            track of the
                            properties you've already viewed and help you schedule viewings that won't interfere with
                            your
                            other
                            commitments. Your property hunt becomes a breeze with Taurus Realtors.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row r4">
            <div class="col-lg-8 r4c1">
                <h4 class="h4">Our Commitment</h4>
                <p class="p">At Taurus Realtors, we're committed to understanding your unique needs and preferences when
                    it
                    comes to buying property in India. We're here to provide the support and resources you require to
                    make
                    the right choice.</p>
                <h4 class="h4">Get Started</h4>
                <p class="p">Ready to embark on your property buying journey with confidence? Let Taurus Realtors be
                    your
                    guide. Discover your dream home today!</p>
            </div>
        </div>
    </div>