<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-8 r1c1">
            <h1 class="h1">NRI</h1>
        </div>
    </div>

    <mat-divider class="mat-divider"></mat-divider>

    <div class="row r2">
        <div class="col-lg-5 r2c1">
            <img src="../../../../assets/images/services/nri/Points-to-note-for-NRIs-to-purchase-a-property-in-India-1.jpeg"
                alt="NRI" class="img">
        </div>
        <div class="col-lg-5 r2c1">
            <h6 class="h6">Taurus Realtors, Top NRI Services at your doorstep. With expertise in selling, buying and
                renting of residential, commercial and industrial properties, Taurus realtors is one of the leading
                companies providing real estate services among NRIs.</h6>
            <button class="mat-raised-button" routerLink="/contact" mat-raised-button>
                <h4 class="h4">Contact Now</h4>
            </button>
        </div>
    </div>
</div>